@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  overflow: hidden;
  font-family: "Manrope", sans-serif;
}

:root {
  --backgrond: #000;
  --text-color: #fff;
  --button: #8257e5;
  --border: #29292e;
  --border-menu-mobile: #a8a8b3;
  --text-color-menu-mobile: #e1e1e6;
}

html {
  font-size: 62.5%;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background: var(--backgrond);
}

.logo {
  display: none;
}

.gradient-right {
  width: 320px;
  height: 321px;
  background: #996dff;
  filter: blur(200px);
  position: absolute;
  right: 0;
  top: 0;
  z-index: -10;
}

.gradient-footer {
  background: #996dff;
  filter: blur(400px);
  width: 100vw;
  height: 200px;
  left: 0;
  z-index: -10;
  position: absolute;
  bottom: -10rem;
}

#header {
  padding-top: 5rem;
}

.container {
  max-width: 124rem;
  margin: 0 auto;
  padding: 1rem 1rem 0 1rem;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.menu button {
  border: 1px solid var(--button);
  border-radius: 0.6rem;
  padding: 1.1rem 3.8rem;
  background: transparent;
  color: var(--text-color);
  cursor: pointer;
  font-size: 1.1rem;
  line-height: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.menu li img {
  cursor: pointer;
}

.menu button:hover {
  background: var(--button);
  color: var(--text-color);
}

.menu-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-items li a {
  display: flex;
  font-size: 1.4rem;
  color: var(--text-color);
  font-weight: 500;
  padding: 2rem 3rem 2rem 3rem;
}

.menu-items li a:hover {
  color: var(--button);
}

.coffe-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coffe-section .title-coffe {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}

.logo-semi {
  display: none;
}

.coffe-section .title-coffe h1 {
  color: var(--text-color);
  font-size: 8rem;
  line-height: 10rem;
}

.coffe-section .title-coffe span {
  color: var(--backgrond);
  text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button),
    -1px 1px 0 var(--button), 1px 1px 0 var(--button);
  font-size: 8rem;
}

.coffe-section .coffe-img {
  margin-top: 2rem;
}

.title-coffe-mobile {
  display: none;
}

.button-mobile button {
  display: none;
}

input[type="checkbox"] {
  display: none;
}

.title-coffe-mobile-second {
  display: none;
}

@media (max-width: 810px) {
  .menu button {
    padding: 0 1rem;
  }
}

@media (max-width: 600px) {
  .menu-items li a {
    padding: 1rem 1rem 1rem 1rem;
  }
}

@media (max-width: 550px) {
  .logo {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .title-coffe-mobile {
    margin-top: 10rem;
    display: block;
    width: 30rem;
  }

  .title-coffe-mobile h2 {
    font-size: 3rem;
    line-height: 4rem;
  }

  .title-coffe h1 {
    display: none;
  }

  .title-coffe span {
    display: none;
  }

  .title-coffe-mobile h2 {
    color: var(--text-color-menu-mobile);
  }

  .button-mobile button {
    display: block;
    margin-top: 6rem;
    color: var(--text-color-menu-mobile);
    background: transparent;
    cursor: pointer;
    border: 1px solid #8257e5;
    padding: 1rem 3rem;
    border-radius: 0.6rem;
  }

  .title-coffe-mobile-second {
    display: block;
  }

  .title-coffe-mobile-second h1 {
    color: var(--text-color);
    font-size: 5rem;
    line-height: 6rem;
    margin-top: 6rem;
  }

  .title-coffe-mobile-second span {
    color: var(--backgrond);
    text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button),
      -1px 1px 0 var(--button), 1px 1px 0 var(--button);
    font-size: 5rem;
  }

  .wrapper {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 100%;
    background: #000;
    transition: all 0.1s ease-in-out;
  }

  #active:checked ~ .wrapper {
    right: 0;
  }

  button {
    display: none;
  }

  .menu-btn {
    position: absolute;
    z-index: 2;
    right: 20px;
    /*left: 20px; */
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
  }

  .menu-btn span,
  .menu-btn:before,
  .menu-btn:after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    color: var(--text-color);
    left: 30%;
    width: 40%;
    border-bottom: 2px solid var(--text-color-menu-mobile);
    transition: transform 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .menu-btn:before {
    transform: translateY(-8px);
  }

  .menu-btn:after {
    transform: translateY(8px);
  }

  .close {
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: background 0.6s;
  }

  /* closing animation */
  #active:checked + .menu-btn span {
    transform: scaleX(0);
  }
  #active:checked + .menu-btn:before {
    transform: rotate(45deg);
    border-color: #fff;
  }
  #active:checked + .menu-btn:after {
    transform: rotate(-45deg);
    border-color: #fff;
  }

  .menu-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;
  }

  .menu-items li a {
    padding-bottom: 3rem;
  }

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu li img {
    display: none;
  }

  input[type="checkbox"] {
    display: none;
  }

  #active:checked ~ .menu-items ul li a {
    opacity: 1;
  }
  .menu-items ul li a {
    transition: opacity 1.2s, transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateX(100px);
  }
  #active:checked ~ .menu-items ul li a {
    transform: none;
    transition-timing-function: ease, cubic-bezier(0.1, 1.3, 0.3, 1); /* easeOutBackを緩めた感じ */
    transition-delay: 0.1s;
    transform: translateX(-100px);
  }
}
